<html>
    <head>
        <title>Railways Facts</title>
    </head>
    <body>
        <div>
            <h1>1. Indian Railways is the largest railways network to be operated by a single government and is the world’s third largest network with a total length of 127,760 kms. </h1>
            <p>The annual tally is 8421 million passengers on 9991 trains connecting 7,172 stations across the country. The number of daily passengers on the railways is said to be larger than the population of some countries. It also carries 1014.15 million tons of freight annually.</p>
        </div>

        <div>
            <h2>2. Indian Railways owned the longest railway platform in the world at Kharagpur with a length of 2,733 feet. Now, breaking the record, Gorakhpur station has recently taken its place with a span of 4,430 feet.</h2>
        </div>

        <div>
            <h2>3. Two historical railway elements are included in the UNESCO’ World Heritage site list – the Chhatrapati Shivaji Terminus, and the Indian Mountain Railways.</h2>
            <p>The Indian Mountain Railways includes three railways – the Darjeeling Himalayan Railways, Nilgiri Mountain Railways and Kalka Shimla Railway. All three trains have been functional for some 100 years. The Chhatrapati Shivaji Terminus is a classic fusion of Gothic art with Indian architecture.</p>
        </div>
    </body>
</html>